@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    box-sizing: border-box;
}

header {
    font-size: 18px; /*размер шрифта применяется к шапке*/
    line-height: 1.5; /*межстрочный интервал*/
}

a {
    text-decoration: none; /*уходит черта под ссылкой*/
}

.name a{
    color: #d3be02; /*цвет ссылки в div,е */
}

body {
    font-family: "Inter", sans-serif; /*шрифт применяется ко всему body*/
}

button { 
    padding: 10px 20px; /*внутренний отступ верх-низ лево-право*/
    margin: 20px; /*внешние отступы*/
    background: #d4bf03; /*задний фон кнопки*/
    color: #443802; /*цвет текста кнопки*/
    border: none; /*нет границы*/
    border-radius: 4px; /*скругление углов*/
    font-size: 16px; /*размер шрифта в кнопке*/
    cursor: pointer; /*изменение курсора при наведении*/
}

#burger-menu { /*создаем бургерное меню-открытие. Т.к. у нас id задан, ставим #, а не точку*/
    display: flex; /*элементы меню адаптируются по заданным параметрам */
    flex-direction: column; /*элементы располагаются в столбец сверху вниз*/
    align-items: start; /*выравнивания флекс-элементов внутри флекс-контейнера по началу поперечной оси. В большинстве случаев, когда направление флекс-контейнера - строка (по умолчанию), это означает выравнивание по верхнему краю. Если направление - столбец, то выравнивание будет по левому краю.*/
    position: fixed; /*позиционирование фиксированное, чтобы оставалось всегда на своем месте*/
    top: 0px; /*вертикальное положение*/
    left: 0px; /*горизонтальное положение, изначально меню нет*/ 
    padding: 90px; /*отступы со всех сторон*/
    gap: 30px; /*пространство между элементами*/
    background: white;
    height: 100%; /*высота всего бургерного меню*/
    box-shadow: 0px 0px 10px black; /*граница бургерного меню, видно где заканчивается*/
    transition: 1s; /*меню выплывает*/

}

#burger-menu a{
    color: #443802;
    
}

#burger-menu-close{ /*бургерное меню закрывается*/
    position: absolute; /*элемент позиционируется абсолютно и его нижний край выравнивается по нижней границе этого предка*/
    bottom: 0; /*элемент будет прижат к низу родительского элемента. */
    left: 40px;
}
